.button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  padding: 8px 28px;
  font-size: 12px;
  line-height: 21px;
  vertical-align: middle;
  text-align: center;
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 700;
  background-color: #2eb398;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  outline: none;
}

.button:hover,
.button:focus,
.button:active {
  background: #04ac95;
}
