.feedback {
  background: #323232;
  padding-top: 12px;
  padding-bottom: 12px;
}

.feedback__wrapper {
  max-width: 960px;
  margin: 0 auto;
  padding-top: 54px;
  padding-bottom: 51px;
  border-top: 1px solid #2b2b2b;
  border-bottom: 1px solid #2b2b2b;
}

.feedback__inner-wrapper {
  max-width: 780px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.feedback__form {
  width: 580px;
  margin: 0;
  padding: 0;
}

.feedback__form fieldset {
  border: none;
  padding: 0;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
}

.feedback legend {
  color: #e0e0e0;
  font-size: 30px;
  font-family: "MarvenPro", Arial, sans-serif;
  padding: 0;
  margin-bottom: 4px;
}

.feedback__description {
  font-family: "MarvenPro", Arial, sans-serif;
  color: #bebebe;
  margin: 0;
  padding-left: 2px;
  margin-bottom: 18px;
  font-size: 18px;
  line-height: 21px;
}

.feedback__form input,
textarea {
  display: block;
  width: 100%;
  background: #454545;
  border: none;
  box-sizing: border-box;
  margin-bottom: 17px;
  padding: 8px 15px;
  font-size: 12px;
  line-height: 21px;
  color: #bebebe;
  font-family: "Lato", "Arial", sans-serif;
}

::-webkit-input-placeholder {
  color: #bebebe;
  font-family: "Lato", "Arial", sans-serif;
}


:-ms-input-placeholder {
  color: #bebebe;
  font-family: "Lato", "Arial", sans-serif;
}

::-moz-placeholder {
  color: #bebebe;
  font-family: "Lato", "Arial", sans-serif;
}

:-moz-placeholder {
  color: #bebebe;
  font-family: "Lato", "Arial", sans-serif;
}


.feedback__form textarea {
  resize: none;
  height: 150px;
}

.feedback__button {
  float: right;
}
