.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  min-height: 63px;
}

.menu__item a {
  display: block;
  padding: 12px;
  padding-top: 32px;
  font-size: 10px;
  position: relative;
}

.menu__item--dotted a::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background: #494e62;
  top: 50%;
  -webkit-transform: translate(11px, 9px);
      -ms-transform: translate(11px, 9px);
          transform: translate(11px, 9px);
}

.menu__item:nth-of-type(2) {
  margin-right: 112px;
}

.menu__item:nth-of-type(3) {
  position: relative;
  left: 4px;
}

.menu__item:nth-of-type(4) {
  position: relative;
  left: 4px;
}
