.summary {
  background: #2eb398;
  padding-top: 13px;
  padding-bottom: 11px;
}

.summary__wrapper {
  width: 780px;
  margin: 0 auto;
  padding: 55px 20px;
  padding-bottom: 52px;
  border-left: 1px solid #219b84;
  border-right: 1px solid #219b84;
}

.summary__wrapper .hexagon {
  float: left;
  margin-right: 20px;
}

.summary__wrapper .hexagon__layer-2 {
  background-image: url("../assets/img/person.jpg");
}

.summary__title {
  color: #d7fcf5;
  font-family: "MarvenPro", Arial, sans-serif;
  font-weight: 400;
  font-size: 30px;
  margin: 0;
  margin-bottom: 2px;
}

.summary__subtitle {
  color: #20816d;
  font-size: 18px;
  line-height: 21px;
  margin: 0;
  margin-bottom: 13px;
  font-weight: 400;
}

.summary__content {
  color: #d7fcf5;
  font-size: 12px;
  line-height: 21px;
  margin: 0;
}
